################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AvalieMe.API/bin
/AvalieMe.API/obj/Debug
